/* src/components/Overlay.css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 101; /* Должен быть выше контента, но ниже панелей */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}